DEBUG=False
SECRET_KEY=change-me
ALLOWED_HOSTS=kanmind.marc-schaar.com,www.kanmind.marc-schaar.com
CSRF_TRUSTED_ORIGINS=https://kanmind.marc-schaar.com,https://www.kanmind.marc-schaar.com
CORS_ALLOWED_ORIGINS=https://kanmind.marc-schaar.com,https://www.kanmind.marc-schaar.com
